



{{!-- pt-4 sec" style="position: relative; width: 800px;"> --}}

<div class="col-12" id="orders"> 
    <h1>Summery</h1>
    <table class="table " id="example">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Address</th>
          
          

          <th scope="col">Payment</th>
          <th scope="col">Status</th>
          <th scope="col">Update</th>
          <th scope="col">Cancel</th>
        </tr>
      </thead>

      <tbody>
        {{#each orders}}
        <tr>
          <td scope="row" style="font-size: small;">{{this.orderObj.date}}</td>
          <td> {{this.orderObj.deliveryDetails.order}}
         <p class="small">pin:{{this.orderObj.deliveryDetails.pincode}} 
          ph:{{this.orderObj.deliveryDetails.mobile}} </p> </td>

          <td>{{this.orderObj.PaymentMethod}} </td>
          <td id="colors">{{this.orderObj.status}} </td>
       
        {{#if this.cancelStatus}}
        <td class="text-secondary">Cancelled</a></td>
        {{else}}         
          <form action="/admin/place-product/{{this._id}}" method="post">
          <td>
            <select name="status" class="btn btn-outline-dark" id="">
              <option value="">{{this.orderObj.status}}</option>
              <option value="Packed">Packed</option>
              <option value="Shipped">Ship</option>
              <option value="Delivered">Delivered</option>
            </select>        
            <button class="btn btn-primary" type="submit" >Update</button>
          </td>

          </form>
          {{/if}}
          {{#if this.OrderStatus}}
          <td></td>
          {{else}} 
          <td> 
            <a class="btn btn-danger" onclick="cancelorder()" href="/admin/cancelOrder/{{this._id}}">
            <i class="bi bi-x-circle"></i>
            </a>
            </td> 
          {{/if}}  
        </tr>
        {{/each}}
      </tbody>
    </table>
   
  </div>



<script>
   $(function(){
    $('#example').DataTable();
  });

</script>


{{!-- 
let col = $('#colors').val()
console.log('color',col)

  function placePro(proId) {
    $.ajax({

      url: "/admin/place-product/" + proId,
      method: "get",
      data: {
        id: proId
      },
      success: (res) => {
        alert("response")
      }
    })
  }
 --}}