<style>
    .page-title>span::after {
        width: 100px;
        height: 1px;
        background: rgba(233, 102, 49, 1);
    }

    .page-title {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .title {
        font-weight: 600
    }
</style>



<div class="row">
    <div class="col-2 ">
        <section style="background-color: rgb(216, 216, 204);border-radius:5px;" class="mt-4 p-1 coloumn">
         <a href="#" style="text-decoration: none;border-radius:5px;" class="p-2">
         <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-filter me-2">
          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
       </svg>
        Filter</a>
 
        
            <div class="col">
                <!-- card -->
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-6">
                        <!-- content -->
                        <h5 class="mb-3">{{products.[0].brand}}</h5>
                        <!-- nav -->
                        <ul class="nav nav-category">
                            <!-- nav item -->
                            <li class="nav-item border-bottom w-100">
                                {{#each products}}
                                <a href="#" class="nav-link" style="color: rgb(109, 105, 105);">
                                {{this.name}}
                                </a>
                                {{/each}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
             <!-- card -->
             <div class="card mb-4 mb-lg-0">
                <div class="card-body p-6">
                   <!-- content -->
                   <div>
                      <h5 class="mb-3">Price</h5>
                      <div>
 <div id="priceRange" class="mb-3"></div>
 <small class="text-muted">Price:</small> <span id="priceRange-value" class="small"></span>
                      </div>
                   </div>
                </div>
             </div>
             <!-- col -->
          </div>
          <!-- Rating -->
           <div class="col">
             <!-- card -->
             <div class="card mb-4 mb-lg-0">
                <div class="card-body p-6">
                   <!-- content -->
                   <div>
                      <h5 class="mb-3">Rating</h5>
                      <div>
 <div class="form-check mb-2">
    <!-- input -->
    <input class="form-check-input" type="checkbox" value="" id="ratingFive">
    <!-- rating -->
    <label class="form-check-label" for="ratingFive">
    <i class="bi bi-star-fill text-warning"></i>
    <i class="bi bi-star-fill text-warning "></i>
    <i class="bi bi-star-fill text-warning "></i>
    <i class="bi bi-star-fill text-warning "></i>
    <i class="bi bi-star-fill text-warning "></i>
    </label>
 </div>
 <div class="form-check mb-2">
    <!-- input -->
    <input class="form-check-input" type="checkbox" value="" id="ratingFour" checked>
    <!-- rating -->
    <label class="form-check-label" for="ratingFour">
    <i class="bi bi-star-fill text-warning"></i>
    <i class="bi bi-star-fill text-warning "></i>
    <i class="bi bi-star-fill text-warning "></i>
    <i class="bi bi-star-fill text-warning "></i>
    <i class="bi bi-star text-warning"></i>
    </label>
 </div>
 <div class="form-check mb-2">
    <!-- input -->
    <input class="form-check-input" type="checkbox" value="" id="ratingThree">
    <!-- rating -->
    <label class="form-check-label" for="ratingThree">
    <i class="bi bi-star-fill text-warning"></i>
    <i class="bi bi-star-fill text-warning "></i>
    <i class="bi bi-star-fill text-warning "></i>
    <i class="bi bi-star text-warning"></i>
    <i class="bi bi-star text-warning"></i>
    </label>
 </div>
 <div class="form-check mb-2">
    <!-- input -->
    <input class="form-check-input" type="checkbox" value="" id="ratingTwo">
    <!-- rating -->
    <label class="form-check-label" for="ratingTwo">
    <i class="bi bi-star-fill text-warning"></i>
    <i class="bi bi-star-fill text-warning"></i>
    <i class="bi bi-star text-warning"></i>
    <i class="bi bi-star text-warning"></i>
    <i class="bi bi-star text-warning"></i>
    </label>
 </div>
 <div class="form-check mb-2">
    <!-- input -->
    <input class="form-check-input" type="checkbox" value="" id="ratingOne">
    <!-- rating -->
    <label class="form-check-label" for="ratingOne">
    <i class="bi bi-star-fill text-warning"></i>
    <i class="bi bi-star text-warning"></i>
    <i class="bi bi-star text-warning"></i>
    <i class="bi bi-star text-warning"></i>
    <i class="bi bi-star text-warning"></i>
    </label>
 </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
        </section>
    </div>
    <div class="col-9">
   <h3> RESULTS</h3>
    {{#each products}}
    <div class="col">
        <div class="card card-product">
            <!-- card body -->
            <div class="card-body">
                <div class=" row align-items-center">
                    <!-- col -->
                    <div class="col-md-4 col-12">
                        <div class="text-center position-relative ">
                            <div class=" position-absolute top-0">
                                <!-- badge --> <span class="badge bg-danger">Sale</span>
                            </div>
                            <a href="/proView/{{this._id}}">
                                <!-- img --><img src="/product-images/{{this._id}}.jpg" alt="Grocery Ecommerce Template"
                                    class="mb-3 img-fluid" style="height: 218px;">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 col-12 flex-grow-1">
                        <!-- heading -->
                        <div class="text-small mb-1"><a href="#!"
                                class="text-decoration-none text-muted"><small>{{this.details}}</small></a>
                        </div>
                        <h2 class="fs-6"><a href="/proView/{{this._id}}"
                                class="text-inherit text-decoration-none">{{this.brand}}</a>
                        </h2>
                        <div>
                            <!-- rating --><small class="text-warning"> <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.5(149)</span>
                        </div>
                        <div class=" mt-6">
                            <!-- price -->
                            <div><span class="text-dark">₹{{this.price}}</span> <span
                                    class="text-decoration-line-through text-muted">₹{{this.price}}</span>
                            </div>
                            <!-- btn -->
                            <div class="mt-3">
                                <a href="/proView/{{this._id}}"
                                    class="btn btn-icon btn-sm btn-outline-gray-400 text-muted" data-bs-toggle="modal"
                                    data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip"
                                        data-bs-html="true" title="Quick View"></i></a>
                                <a href="/wishlist/{{this._id}}"
                                    class="btn btn-icon btn-sm btn-outline-gray-400 text-muted" data-bs-toggle="tooltip"
                                    data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>

                            </div>
                            <!-- btn -->
                            <div class="mt-2">
                                <a onclick="addToCart('{{this._id}}')" class="btn btn-primary ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-shopping-bag me-2">
                                        <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                        <line x1="3" y1="6" x2="21" y2="6"></line>
                                        <path d="M16 10a4 4 0 0 1-8 0"></path>
                                    </svg>
                                    Add to Cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>{{/each}}</div>
   
</div>